.main-body-container {
  width: 100%;
  margin-left: 18%;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

hr {
  background-color: rgba(128, 128, 128, 0.123);
  margin: 15px 0px;
}

.header-username {
  display: flex;
  align-items: center;
  margin-left: 2.5%;
}
.path {
  display: flex;
  align-items: center;
  margin: 10px;
}
.patient-name {
  margin-left: 20px;
  font-size: 16px;
}

.header-name {
  color: #2e3b4c;
  font-size: large;
  margin-left: 5px;
}

.header-right-side {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.badge {
  margin-right: 20%;
}

.badge1 {
  margin-right: 5%;
}

.sub-header {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin-left: 3%;
}

.sub-header > .path {
  display: flex;
}

.sub-header > .path > h3 {
  color: #0d53fc;
  margin: 0;
}

.sub-header > .path > h4 {
  color: gray;
  margin: 0;
}

.print {
  display: flex;
  width: max-content;
}

.printer {
  border: 0.5px solid rgba(128, 128, 128, 0.188);
  padding: 5px;
  color: gray;
  background-color: white;
  height: 30px;
  width: 30px;
}

.edit-patient {
  display: flex;
  align-items: flex-start;
  background-color: white;
  width: 100px;
  padding: 5px;
  margin-left: 4%;
  color: gray;
  border: 0.5px solid rgba(128, 128, 128, 0.188);
}

.edit-patient > p {
  margin: 0;
  font-family: sans-serif;
  font-weight: 400;
  font-size: small;
  margin-left: 5px;
}

.person-details {
  width: 20%;
  height: 40vh;
  margin-left: 3%;
  background-color: white;
  position: relative;
  border-radius: 10px 0 0 10px;
}

.user-image {
  position: absolute;
  left: 33%;
  top: 15%;
}

.user-name {
  position: absolute;
  left: 27%;
  top: 45%;
  font-size: larger;
}

.user-email {
  position: absolute;
  left: 18%;
  top: 55%;
  color: lightgray;
  font-size: small;
  font-weight: 600;
}

.counter {
  width: 60%;
  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  top: 65%;
  left: 20%;
}

.sub-counter1,
.sub-counter2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-counter1-para,
.sub-counter2-para {
  font-size: 0.7rem;
}

.sub-counter1-header,
.sub-counter1-para,
.sub-counter2-header,
.sub-counter2-para,
.user-name,
.user-email {
  margin: 0;
}

.vl {
  border-left: 2px solid rgba(211, 211, 211, 0.471);
  height: 30px;
}

.send-message {
  width: 80%;
  border: 0.5px solid lightgrey;
  padding: 5px;
  position: absolute;
  left: 10%;
  top: 85%;
  background-color: #fff;
  font-weight: bold;
  color: #2e3b4c;
}

.main-body {
  display: flex;
  align-items: center;
}

.person-description {
  width: 40%;
  height: 40vh;
  margin-left: 1%;
  background-color: white;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.notes {
  width: 30%;
  height: 45vh;
  background-color: white;
  margin-left: 3%;
  border-radius: 10px;
}

.notes-heading,
.files-heading {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.notes-h42,
.files-h42 {
  color: #0d53fc;
}

.files-h42 {
  display: flex;
  align-items: center;
}

.box {
  width: 94%;
  background-color: #f2f5f9;
  margin-left: 3%;
  height: 55%;
}

.sub-box {
  padding: 10px;
}

.box-paragraph {
  margin-left: 2%;
  font-weight: bold;
  color: lightslategray;
  font-size: 0.8rem;
}

.save-notes {
  background-color: #0d53fc;
  color: white;
  border: none;
  padding: 7px 15px;
  font-weight: 600;
  border-radius: 3px;
  font-size: 0.7rem;
  margin-left: 75%;
  margin-top: 13%;
}

.notes-footer {
  display: flex;
  align-items: flex-end;
  color: lightslategray;
  font-size: 0.7rem;
  font-weight: bold;
}

.footer-lorem,
.subtext-footer,
.footer-docname {
  margin: 0;
}

.footer-doctor {
  margin-left: 7%;
  margin-top: 3%;
}

.subtext-footer {
  display: flex;
  align-items: flex-end;
}

.footer-lorem {
  font-weight: bold;
  color: lightslategray;
  font-size: 1rem;
}

.footer-docname {
  color: lightslategray;
  font-size: 0.7rem;
  margin-top: 4%;
  margin-left: 2%;
  font-weight: bold;
}

.events {
  width: 59.5%;
  background-color: #fff;
  margin-left: 3%;
  padding: 10px;
  border-radius: 10px;
  height: 55vh;
  margin-top: -1%;
}

.appointment-history {
  background-color: #f2f5f9;
  border-radius: 10px;
  height: 70%;
  padding: 1px;
}

.header-title {
  margin: 0;
  font-size: 15px;
}

.history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-left: 5%;
  margin-top: 3%;
}

.appointment {
  height: 46%;
  display: flex;
  justify-content: space-around;
}

.bottom-body {
  display: flex;
  height: max-content;
}

.files {
  width: 30%;
  background-color: #f6f7f5;
  border-radius: 10px;
  margin-left: 5.5%;
  margin-top: 2%;
  height: 45vh;
}
.notes-heading-all {
  color: blue;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 800;
}
.save-notes {
  background-color: blue;
  color: white;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 800;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}
.file-title {
  font-size: 20px;
  font-weight: 800;
  font-family: 'Roboto';
  color: black;
}
.avatar-container {
  display: flex;
  flex-direction: column;
}
.email-container {
  display: flex;
  align-items: center;
}
.person-details {
  display: flex;
  flex-direction: column;
}
.slide {
  text-align: center;
  margin-left: 20px;
  color: lightgrey;
}
.chrono-container {
  height: 600px;
}
