.person-sub-details-container {
  width: 20%;
  margin-top: 5%;
  margin-left: 10%;
  height: max-content;
  font-size: 0.8rem;
}
.person-hr-line {
  background-color: rgba(211, 211, 211);
  margin: 0;
  margin-top: 5px;
  width: 80%;
  opacity: 0.3;
}

.person-heading,
.person-sub-detail-name {
  margin: 0;
}

.person-heading {
  color: rgba(211, 211, 211);
  font-weight: 600;
  font-size: 20px;
  font-family: 'Roboto';
}

.person-sub-detail-name {
  font-size: 15px;
  font-weight: 600;
}
