.flacone-container {
}
.home-menu {
  display: Flex;
  align-items: center;
  justify-content: flex-end;
}
.geek-home-txt {
  color: black;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
  margin-left: 10px;
  margin-right: 10px;
}
.reset-txt {
  color: black;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
}
.main-falcone-heading {
  color: black;
  font-size: 35px;
  font-family: 'Roboto';
  font-weight: 800;
  text-align: center;
}
.falcone-description-text {
  color: black;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 800;
  text-align: center;
}
.planet-name {
  outline: none;
  background-color: transparent;
  height: 30px;
  width: 150px;
  border: none;
  color: black;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 800;
  cursor: pointer;
}
.drop-down-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.label-input {
  margin-bottom: 10px;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 800;
}
.total-drop-down-container {
  display: flex;
  align-items: center;
}
.result-btn {
  background-color: transparent;
  color: black;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 800;
  cursor: pointer;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 6px;
}
.result-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}
.link-text {
  text-decoration: none;
}
