.number-item {
  list-style-type: none;
}
.options-right-nbr {
  color: white;
  font-size: 16px;
  font-weight: 800;
  font-family: 'Roboto';
  padding: 5px;
  height: 40px;
  width: 40px;
  border-radius: 4px;
  margin: 20px;
  text-align: center;
  background-color: grey;
}

.blue-color-bg-nbr {
  background-color: blue;
}
.yellow-color-bg-nbr {
  background-color: yellow;
}
.red-color-bg-nbr {
  background-color: red;
}
.grey-color-bg-nbr {
  background-color: grey;
}
.link-text {
  text-decoration: none;
}
