.sidebar-container {
  width: 18%;
  background-color: white;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.logo-navbar {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;

  justify-content: space-around;
}

.doctor-details {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  margin-top: 5%;
  margin-left: 0;
  height: 50px;
  width: 50px;
}

.heading {
  margin: 0;
  padding: 0;
}

.doctor-heading {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.logo-heading {
  display: flex;
  align-items: center;
}

.doctor-logo-heading {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-header-text {
  font-size: 15px;
  margin: 0;
  font-family: 'Roboto';
  color: #2e3b4c;
}

.doctor-header-text {
  font-size: 1rem;
  font-family: 'Roboto';
  color: #2e3b4c;
}

.logo-caption {
  margin: 0;
  font-size: 15px;
  color: #2e3b4c9c;
}

.logo-hamburger {
  margin-top: 5%;
  color: #2e3b4c9c;
}

.sidebar-options {
  margin-top: 5%;
  margin-left: 15%;
}

.help {
  display: flex;
  align-items: center;
  margin-top: 65%;
  margin-left: 20%;
}

.help {
  margin-left: 7%;
  color: #2e3b4c9c;
}
.icon-img {
  border-radius: 40px;
  height: 50px;
  width: 50px;
}
.help-text {
  font-size: 15px;
}
